.main-products{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    /* flex-basis: 70%; */
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.products-and-filter{
    display: flex;
}

.filter-component{
    display: flex;
    overflow-y: scroll;
    flex-basis: 30%;
}
.pro-main{
    display: flex;
    flex-direction: column;
}