.main-products{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}