.main-products{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    position: relative;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
}

.products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 3.5%;
    justify-content: left;
}

.products-and-filter{
    display: flex;
}

.filter-component{
    display: flex;
    overflow: scroll;
    width: 20%;
    min-width: 12rem;
}
.pro-main{
    display: flex;
    flex-direction: column;
}