.productCard{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    max-width: 20%;
    margin: 1rem;
    color: white;
}
.ootd{
    width: 100%;
    height: 15rem;
    min-width: 10rem;
    margin: 0;
}
.heart{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.trending{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.ratenreview{
    display: inline;
    position: absolute;
    bottom: 6px;
    left: 0;
    margin: 0;
}