.cart{
    text-align: center;
    align-self: center;
}
.cart-main{
    display: flex;
    justify-content: center;
}
.cartProducts{
    margin: 0rem 2rem !important;
    align-self: center;
    width: min-content;
    justify-self: center;
}
.checkoutCard{
    justify-self: center;
    height: fit-content;
    width: 28%;
}