.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    width: 100%;
    /* max-width: max-content; */
  }
  
  .modal.enter-done {
    opacity: 1;
    pointer-events: visible;
  }
  
  .modal.exit {
    opacity: 0;
  }
  
  .modal-content {
    /* width: 500px; */
    width: 60%;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    transform: translateY(-200px);
  }
  
  .modal.enter-done .modal-content {
    transform: translateY(0);
  }
  
  .modal.exit .modal-content {
    transform: translateY(-200px);
  }
  
  .modal-header,
  .modal-footer {
    padding: 10px;
    margin: 0px 2%;
  }
  .modal-header{
    background-color: #19A7CE;
    margin: 0;
    padding-left: 4%;
    color: white;
    font-size: larger;
  }
  
  .modal-title {
    margin: 0;
  }

  .modal-btn{
    border: none;
    margin-right: 0.6rem;
    background-color: #19A7CE;
    color: white;
    border-radius:6px;
    padding: 4px 8px;
    font-weight: 500;
  }
  .modal-btn:hover{
    cursor: pointer;
    background-color: #146C94;
  }
  
  .modal-body {
    padding: 10px;
    width: 95%;
    margin: auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
  }
  