.main-address {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  flex-basis: 50%;
}
.add-head {
  text-align: center;
}
.nameAndBin{
  display: flex;
  justify-content: space-between;
}
.nameAndBin button{
  margin-left: 1rem;
  border: none;
  height: fit-content;
  padding: 8px 12px;
  border-radius: 7px;
  color: white;
  background-color: #19A7CE;
}
.nameAndBin button:hover{
  background-color: #146C94;
  cursor: pointer;
}
.mainAdd{
  width: 100%;
}
.addNewAddress{
  text-align: left;
  font-size: medium;
  border: none;
  font-weight: lighter;
  background-color: #19A7CE;
  color: white;
  display: flex;
  padding: 0.5rem;
  border-radius: 10px;
}
.addNewAddress:hover{
  cursor: pointer;
}
.mapIcon{
  margin-right: 8px;
}

.singleInput {
  display: flex;
  align-items: center;
  border: 2px solid #146C94;
  border-radius: 10px;
  padding: 8px 10px;
  text-align: left;
  margin-bottom: 1rem;
}
.singleInput p {
  margin: 6px 0;
}
.singleInput h2 {
  margin: 5px 0;
}
.singleInput input {
  margin-right: 1.3rem;
  padding: 10px;
}
.address-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 55px 55px 55px 55px 55px;
    margin-left: auto;
}

.name {
  width: 90%;
  margin: 5px 5px;
  padding: 10px;
}

.tel {
  width: 90%;
  margin: 5px 5px;
  padding: 10px;
}

.pincode {
  width: 90%;
  padding: 10px;
  margin: 5px 5px;
}

.city {
  width: 90%;
  padding: 10px;
  margin: 5px 5px;
}

.address-text {
  width: 95.5%;
  margin: 5px 5px;
  padding: 10px;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}

.state-select {
  width: 95%;
  padding: 10px;
  margin: 5px 10px;
}
